<mat-dialog-title>We found that you have an old project.Do you want to open new project?</mat-dialog-title>
<mat-dialog-content>
  <div class="btn-div">
    <!-- <button mat-raised-button color="warn" (click)="exit('ws')">Exit Without Saving</button>
    <button mat-raised-button color="primary" (click)="exit('ts')">Save in Temporary Storage & Exit</button>
    <button mat-raised-button color="primary" (click)="exit('cs')">Save on Cloud & Exit</button>
    <button mat-raised-button color="warn" (click)="exit()">Do nothing</button> -->
    <button mat-raised-button color="warn" (click)="openNew()">Open New</button>
    <button mat-raised-button color="primary" (click)="GoToOld()">Go to Old</button>
  </div>
</mat-dialog-content>